.about {
    padding: 1vw;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: auto;
}

.about-content {
    max-width: 80%;
    margin: 0 auto;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00e6e6;
}

.about h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #00cccc;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.social-media {
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    margin-right: 15px;
    color: #00e6e6;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #00cccc;
}
img{
    border-radius: 50%;
    width: 30px;
}