/* Ensure the body has margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Optional: Use a default font */
}

/* Main content container */
.main-content {
    margin-top: 0px; /* Adjust this value based on the height of your navbar */
    padding: 20px; /* Optional: Add padding for better spacing */
}

/* Ensure that the html and body elements fill the viewport height */
html, body {
    height: 110%;
}

/* Add styles to ensure scrolling works */
.container {
    width: 100%; /* Adjust based on your layout */
    margin: 0 auto;
}
/* Ensure the body has margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Optional: Use a default font */
}
#root{
    padding:0%;
    margin: 0%;
    width:100%;
    min-height:100%;
}